@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Saira';
  src: url('../../static/fonts/Saira/Saira-VariableFont_wdth,wght.ttf') format('truetype');
}

body {
  @apply tw-bg-background tw-text-white tw-font-normal tw-text-base;
}

p {
  @apply tw-mb-6;
}

*::-webkit-media-controls-panel,
*::-webkit-media-controls-play-button,
*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
