@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Saira';
  src: url('../../static/fonts/Saira/Saira-VariableFont_wdth,wght.ttf') format('truetype');
}

body {
  background: radial-gradient(35.76% 51.3% at 50% -1.3%, #292929 0.08%, #1d1d1d 100%);

  @apply tw-text-white tw-font-normal tw-text-base;
}

p {
  @apply tw-mb-6;
}

/* ::-webkit-scrollbar {
  -webkit-overflow-scrolling: auto;

  @apply tw-w-0.5;
}

::-webkit-scrollbar-track {
  @apply tw-bg-transparent tw-border-2 tw-border-solid tw-border-transparent;
}

::-webkit-scrollbar-thumb {
  @apply tw-bg-scroll-bar tw-rounded;
} */

body {
  --scrollbar-foreground: red;
  --scrollbar-background: #333;
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-appearance: none;
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-foreground);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}
